/* .nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: #FFF3E2;
} */

.nav-button{
    display: block;
    width: 80px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
}

.nav-logout{
    display: block;
    width: 10px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FA9884;
    color: #fff;
    padding: 1rem;
  }
  
  .nav-icon {
    display: none;
    cursor: pointer;
  }
  
  .nav-icon-line {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .nav-icon-line.open {
    transform: rotate(180deg);
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: row;
      align-items: flex-start;
      position: relative;
    }
  
    .nav-icon {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      background-color: #FA9884;
      flex-direction: column;
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 0;
      padding: 1rem;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #fff;
    }
  }
  

@media screen and (max-width: 768px) {
    .nav-logout{
        width: 70px;
    }
}