@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');

body{
    background-color: #FFF3E2;
    font-family: 'Kanit', sans-serif;
}
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #FFE5CA;
  margin-top: 50px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-header{
    text-align: center;

    font-weight: bold;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.form-group input[type="number"] {
  -moz-appearance: textfield;
}

.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-submit {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #FA9884;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #E74646;
}

@media (max-width: 576px) {
    .form-group {
      margin-bottom: 0.75rem;
    }
    
    .form-submit {
      margin-top: 0.75rem;
    }
  }